// Article CSS
article {
  padding: 1em 0;
  header h1 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  header a {
    text-decoration: none;
  }
  .meta {
    color: #999;
    font-size: .8em;
  }
  .excerpt {
    display: none;
  }
  @media (min-width: 30em) {
    .excerpt { display: block; }
  }
}

.article-content {
  h2 {
    font-weight: normal;
    color: $main_colour;
    line-height: 1.25;
  }
  ul, ol {
    margin: 0 1em;
    padding: 0;
  }
  blockquote {
    background-color: #ddd;
    font-style: italic;
    margin: 0;
    padding: .125em 1em;
  }
}