article {
  padding: 1em;
  header {
    line-height: 1.125;
    h1 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
  }
  .excerpt {
    display: none;
  }
  footer {
    font-size: 80%;
  }
}