// Base definitions and variables
$bg_colour: #fefefe;

$main_colour: #354653;
$main_medium: #4E677A;
$main_light: #6788A1;
$comp_colour: #544D36;
$comp_medium: #7A694E;
$comp_light: #A18A67;
$darkgrey: #545454;