$bg_colour: #fff;
$main_colour: #354653;
$main_medium: #4E677A;
$main_light: rgb(204,197,145);
$comp_colour: #544D36;
$comp_medium: #7A694E;
$comp_light: #A18A67;
$darkgrey: rgb(41,33,31);
$contentborder: rgb(121,142,135);