// Main layout file (mobile first)
html, body {
    background: #fff;
    font: 100%/1.5 sans-serif;
    color: #000;
}

a:link {
  color: #999;
}
a:visited {
  color: rgb(121,142,135);
}
a:active {
  color: #444;
}

.content {
  margin: 0 auto;
  max-width: 90%;
}
.wp-caption {
  max-width: 100%;
}
p.wp-caption-text {
  font-size: .7em;
  margin: 0;
  padding: .25em;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 30em) {
  html, body { font-size: 110%; }
}
@media (min-width: 45em) {
  html, body { font-size: 120%; line-height: 1.7; }
}
@media (min-width: 50em) {
  html, body { font-size: 130%; max-width: 52em; margin: 0 auto; }
}