// Main layout file (mobile first)
html, body {
    background: $bg_colour;
    font: 100%/1.5 Arial, sans-serif;
    color: #333;
}

[role=banner] h1 {
  margin: 0;
}

[role=banner] a {
  color: #333;
  text-decoration: none;
}

.content {
  margin: 0 auto;
}